# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kommissionierautomat"

# API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Frontend
WEB_URL=http://localhost:3000

# ESP32 MC 
MC_API_URL=http://192.168.178.1

# Admin Dashboard Password
ADMIN_PASSWORD="admin123"